@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white dark:bg-gray-900;
  }

  body {
    font-feature-settings: "rlig" 1, "calt" 1;
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  }

  /* 设置暗色模式的 color-scheme */
  .dark {
    color-scheme: dark;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
